/* --- SECCIÓN SOBRE MÍ  */
.about {
    padding: 120px 2%; 
    background-color: var(--bg-dark);
}

.about-container {
    max-width: 1600px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
/* --- GALERÍA (IZQUIERDA) --- */
.about-gallery {
    flex: 0 0 50%; 
    display: flex;
    justify-content: center;
}

.about-text-content {
    flex: 0 0 45%; 
    min-width: 500px; 
}

.main-img-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px; 
}

.img-moto {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border: 1px solid rgba(168, 85, 247, 0.2);
    display: block;
}

.purple-line {
    position: absolute;
    left: -20px;
    top: 15%;
    width: 4px;
    height: 70%;
    background-color: var(--primary);
    box-shadow: 0 0 20px var(--primary);
}

/* RECUADRO CON IMAGEN DE FONDO */
.circuit-box {
    position: absolute;
    bottom: -40px; 
    right: -60px;  
    width: 320px;  
    height: 200px; 
    background-image: 
        linear-gradient(rgba(7, 5, 15, 0.6), rgba(7, 5, 15, 0.6)), 
        url('../../assets/img/316.JPG'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border: 1px solid var(--primary); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5); 
}

.pin {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    color: var(--primary);
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8); 
}

/* --- TEXTO (DERECHA) --- */
.about-text-content {
    flex: 0 0 40%; 
    min-width: 450px; 
}

.main-name {
    font-family: var(--font-main);
    font-size: clamp(60px, 8vw, 95px);
    line-height: 0.85;
    margin-bottom: 40px;
}

.highlight {
    color: var(--primary);
}

.desc p {
    font-size: 16px;
    color: var(--text-muted);
    line-height: 1.7;
    margin-bottom: 20px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 12px;
    margin-top: 35px;
    max-width: 100%;
}

.tags-container span {
    border: 1px solid rgba(136, 117, 170, 0.3);
    padding: 8px 18px;
    font-size: 11px;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--text-muted);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s ease;
    white-space: nowrap; 
}


.tags-container span:hover {
    border-color: var(--primary);
    color: var(--primary);
    background: rgba(168, 85, 247, 0.05);
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-muted);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.short-line {
    width: 35px;
    height: 1px;
    background-color: var(--primary);
}